{% extends 'base.html.twig' %}

{% block title %}All Posts
{% endblock %}

{% block body %}

	<section>
		<div>
			{% for post in posts %}

				<a id="yahou" href="{{path('micro_post_show', {post: post.id})}}">

					<h2>{{post.title}}</h2>
				</a>
				<p>{{post.content}}</p>
				<p>{{post.createdAt|date('d/m/Y')}}</p>

			{% endfor %}
		</div>
	</section>

{% endblock %}
